@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonts */
$primary-font: "Anton", sans-serif;
$secondary-font: "Noto Serif", sans-serif;
$body-font: "Inter", sans-serif;

a{
    @apply hover:text-primary;
}
.logo svg{
    @apply h-auto w-32 transition-all;
}
.demo-logo .logo_letters,
.demo-logo-hamburguer .logo_letters{
    @apply fill-black dark:fill-demo_white;
}
.demo-logo .logo_squares,
.demo-logo-hamburguer .logo_squares{
    @apply fill-demo_primary;
}
// nav{
//     .logo{
//         @apply bg-primary p-2;
//     }
// }
.logo-hamburguer{
    svg{
        @apply w-36 h-auto fill-black dark:fill-white;
    }
}
.toast{
    @apply flex flex-col items-center justify-between bg-white text-black dark:bg-black dark:text-white;
    .progress{
        @apply bg-black dark:bg-white;
    }
}
header{
    @apply h-auto fixed top-0 w-full block shadow-none bg-transparent text-black dark:text-white;
    transition: top 0.3s, background-color 0.3s ease;
    i {
        @apply leading-none text-lg;
        }
    .indicator {
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s ease; /* Agregar transición para el cambio de posición */
    }
    .dark .indicator {
        transform: translateX(1.75rem) translateY(-50%); /* Mover el indicador al lado derecho en el modo oscuro */
    }
}
.mobile-menu{
    @apply bg-white text-black dark:bg-black dark:text-white;
}
header, .mobile-menu{
    a{
        @apply hover:bg-gray-100 focus:bg-gray-100 active:bg-gray-100 dark:hover:bg-neutral-900 dark:focus:bg-neutral-900 dark:active:bg-neutral-900;
    }
    .dropdown{
        @apply absolute z-10 w-full text-center;
        li{
            @apply bg-gray-100 dark:bg-neutral-900 dark:hover:bg-neutral-800 w-full;
            a{
                @apply pt-0 pb-0 hover:bg-gray-200 dark:hover:bg-neutral-800;
            }
        }
        li:hover{
            @apply bg-gray-200;
            a{
                @apply text-primary;
            }
        }
    }
    .cart-widget{
        @apply text-white mx-2 md:mx-0;
    }
    .flag-icon{
        @apply w-4 mr-[0.5rem];
    }
}
// Function to show header according to scroll view

// End Function to show header according to scroll view
// Hamburguer Menu icon
.openbtn {
    @apply w-[40px] h-[20px] relative rounded cursor-pointer;
    }

    .openbtn .openbtn-area{
        @apply h-full relative flex flex-col justify-around;
        transition: all .4s;
    }

    .openbtn span {
        @apply w-1/2 h-[3px] relative left-[12px] bg-black dark:bg-white rounded inline ;
        transition: all .4s;
    }

    .openbtn.active .openbtn-area {
        transform: rotateY(-360deg);
    }

    .openbtn.active span{
        &:nth-of-type(1) {
            left: 14px;
            top: 2px;
            transform: translateY(6px) rotate(-135deg);
            width: 45%;
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:nth-of-type(3) {
            left: 14px;
            top: 1px;
            transform: translateY(-6px) rotate(135deg);
            width: 45%;
        }
    }
// Contenedor gral
.container{
    @apply w-full max-w-screen-xl mx-auto px-4 2xl:px-0;
}
// línea divisoria
.divider{ 
    @apply h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-black to-transparent opacity-30 dark:via-white my-16;
}
// Social icons
.social-icons a{
    @apply aspect-square rounded-md flex justify-center items-center ring-1 text-black/70 bg-black/5 ring-black/20 hover:bg-primary hover:text-white hover:ring-primary_darker transition-all dark:text-white/50 dark:bg-white/5 dark:ring-white/20 dark:hover:bg-primary dark:hover:text-white dark:hover:ring-primary_darker;
}