@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Battambang:wght@100;300;400;700;900&display=swap');

/* Demo Colors */
$black:#040403;
$white:#FBFCFF;
$gray:#D0CCD0;
$primary:#00A5E0;

/* Demo Fonts */
$primary-demo-font: 'Albert Sans', sans-serif;
$secondary-demo-font: 'Battambang', display;

.demo-body{
    font-family: $primary-demo-font;
    a{
        @apply bg-transparent hover:text-demo_primary hover:bg-transparent dark:bg-transparent dark:hover:bg-transparent;
    }
    h1, h2, h3, h4, h5, h6{
        font-family: $secondary-demo-font;
    }
    .btn-primary{
        font-family: $primary-demo-font;
        @apply bg-demo_primary hover:bg-demo_secondary;
    }
    header{
        .dropdown{
            @apply w-28 flex flex-col bg-demo_white dark:bg-black;
            li{
                @apply bg-transparent py-2;
            }
            li:hover{
                @apply bg-transparent;
                a{
                    @apply text-demo_primary bg-transparent;
                }
            }
        }
    }

    // BUTTONS
    .btn-primary{
        @apply w-fit relative px-4 py-2 text-lg rounded-full bg-demo_primary text-white hover:bg-demo_secondary transition-all;
        i{
            @apply absolute right-0 top-1/2 text-transparent;
            transform: translateY(-45%);
            transition: transform 0.3s, color 0.3s;
        }
    }
    .btn-primary:hover i{
        @apply text-white dark:text-black;
        transform: translateX(-50%) translateY(-45%);
    }
    .btn-primary:hover span{
        @apply pr-4
    }
    .btn-primary:hover span{
        @apply pr-6
    }
    .btn-primary span{
        transition: padding-right 0.3s;
    }
    // Fin Botón Primario con Animación 
    
    .btn-secondary{
        @apply w-fit relative px-4 py-2 text-lg rounded-full bg-transparent text-demo_primary hover:bg-black hover:text-white hover:border-black dark:text-white transition-all;
        font-family: $secondary-demo-font;
        i{
            @apply absolute right-0 top-1/2 text-transparent;
            transform: translateY(-45%);
            transition: transform 0.3s, color 0.3s;
        }
    }
    .btn-secondary:hover i{
        @apply text-white;
        transform: translateX(-50%) translateY(-45%);
    }
    .btn-secondary:hover span{
        @apply pr-4
    }
    .btn-secondary:hover span{
        @apply pr-6
    }
    .btn-secondary span{
        transition: padding-right 0.3s;
    }
}
