#loader-wrapper {
    @apply bg-white dark:bg-black items-center flex flex-col gap-8 h-full justify-center left-0 fixed top-0 w-full z-20;
}

#loader {
    @apply bg-gray_900 dark:bg-gray_200 rounded-2xl h-1.5 overflow-hidden relative w-1/2;
}

#progress-bar {
    @apply bg-primary rounded-2xl h-full w-0;
    transition: width 0.3s;
}
#demo-progress-bar{
    @apply bg-primary rounded-2xl h-full w-0;
    transition: width 0.3s;
}

#loader-percentage {
    @apply text-black dark:text-white text-xl;
}

#body-content{
    @apply hidden opacity-0;
    transition: opacity 1s;
}
#body-content.fade-in {
    @apply opacity-100;
}

.home-hero-banner{
    @apply bg-primary_light pt-14;
}

#services{
    ul li{
        .icon{
            @apply w-32 h-32 rounded-lg p-3 shadow-lg;
            div{
                @apply bg-primary rounded-lg p-3 opacity-80;
            }
        }
    }
}

#products_selected{
    @apply flex flex-col items-center gap-8 pb-12;
    ul{
        @apply flex flex-wrap justify-around gap-4 w-full;
        li{
            @apply flex flex-col items-center gap-4;
            img{
                @apply rounded-full max-w-32 sm:max-w-32;
            }
        }
    }
}

#faqs{
    .questions{
        @apply flex flex-col md:flex-row justify-between flex-wrap w-full gap-4;
        .question{
            @apply w-full h-fit md:w-[30%];
        }
    }
    .vertical-text{
        writing-mode: vertical-lr;
    }
}
#contact{
    .form .input svg{
        @apply w-4 fill-gray_500;
    }
}

.big-text{
    @apply text-gray_200 dark:text-gray_900;
}